---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Home | SBHS Robotics">
  <section class="hero">
    <div class="hero-logo-container animate-float">
		<img src="/SB-Robotics.png" alt="SB Robotics Logo"/>      
	  
    </div>
    <h2>South Brunswick Robotics</h2>
    <p>
      Welcome to our organization's official website!
    </p>
  </section>
  
  <section class="stats-section">
    <div class="container stats-grid">
      <div class="stat-item">
        <div class="number">6</div>
        <div class="label">Teams Competing</div>
      </div>
      <div class="stat-item">
        <div class="number">50+</div>
        <div class="label">Awards Won</div>
      </div>
      <div class="stat-item">
        <div class="number">~5+</div>
        <div class="label">Worlds Qualifications</div>
      </div>
    </div>
  </section>

  <section class="recognition-section container">
    <div class="recognition-grid">
      <img src="/worlds.png" alt="Team with local representative"/>
      <div>
        <h2 class="text-gradient-gold">2025 Worlds Recap</h2>
        <p>750B recently attended the World Championships in Dallas, TX being only one of 800 teams out of 13,000 to do so. They competed from May 6th to May 8th reaching the Round of 16 where they lost the division champions.</p>
      </div>
    </div>
	<div class="recognition-grid">
		<div>
		  <h2 class="text-gradient-gold">2025 Season Recap</h2>
		  <p>Our whole organization had a successful season for the 2024-25 game, High Stakes, with all 6 of our teams qualifying for the State Championships. We also had a record breaking 9 awards won by 750B this season and who also peaked at a Global Skills Ranking of 25th out of 10,0000+ teams and qualified for the World Championships through Tournament Finalist and the Think Award at States!</p>
		</div>
		<img src="/750b-states.png" alt="Team with local representative"/>
	  </div>
  </section>
</Layout>